<div class="container flex justify-around font-irish text-2xl md:text-5xl my-[56px] font-bold text-[#385a28]">
  <h1>Candles</h1>
  <h1>The Shop</h1>
</div>

<!-- Filters and Product List Section -->
<div class="flex flex-col md:flex-row">
  <!-- Filters Section -->
  <app-filters (filtersChanged)="onFiltersChanged($event)"></app-filters>

  <!-- Product Listing -->
  <div class="product-list grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-11 bg-[#f1f1f1] p-5 flex-grow">
    <a [routerLink]="['/details', product.id]" *ngFor="let product of products" class="mx-auto w-full transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-md duration-300 hover:scale-105 hover:shadow-lg">
      
      <!-- Discount Badge -->
      <div *ngIf="product.isDailyOffer" class="absolute top-2 left-2 bg-red-500 text-white text-sm px-2 py-1 rounded-full">
        {{ calculateDiscount(product.lowestPrice, product.lowestPriceAfterDiscount) }}% OFF
      </div>

      <img class="h-48 w-full object-cover object-center" [src]="product.imageUrl" [alt]="product.name" />
      <div class="p-4">
        <h2 class="mb-2 text-lg font-medium dark:text-white text-gray-900">{{ product.name }}</h2>
        <p class="mb-2 text-base dark:text-gray-300 text-gray-700">{{ product.scent }}</p>
        @if(product.lowestPrice == product.highestPrice)
        {
          <div class="flex">
            <p class="mr-2 text-lg font-semibold text-green-500">{{ product.lowestPriceAfterDiscount | currency }}</p>
            <p *ngIf="product.lowestPrice !== product.lowestPriceAfterDiscount" class="text-base mr-2 font-medium text-gray-500 line-through">{{ product.lowestPrice | currency }}</p>
          </div>
           }
        @else  
        {
          <div class="flex flex-col">
            <!-- Lowest Price with Discount -->
            <div class="flex items-center">
              <p class="mr-2  text-lg font-semibold text-green-500">{{ product.lowestPriceAfterDiscount | currency }}</p>
              <p class="mr-2 text-lg font-semibold text-green-500">{{ product.highestPriceAfterDiscount | currency }}</p>
            </div>
            <div class="flex items-center">
              <p *ngIf="product.lowestPrice !== product.lowestPriceAfterDiscount" class="text-base mr-2 font-medium text-gray-500 line-through">{{ product.lowestPrice | currency }}</p>
              <p *ngIf="product.highestPrice !== product.highestPriceAfterDiscount" class="text-base mr-2 font-medium text-gray-500 line-through">{{ product.highestPrice | currency }}</p>           
            
            </div>
          </div>
          
        }
        <p *ngIf="product.isBestSeller" class="text-red-600 font-semibold mt-2">Best Seller!</p>
      </div>
    </a>
  </div>
</div>

<!-- Pagination Section -->
<app-pagination *ngIf="totalItems > 0" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (pageChanged)="onPageChanged($event)">
</app-pagination>
