.icon {
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
  transition: filter 0.3s;
}

.icon:hover {
  filter: brightness(0) saturate(100%) invert(53%) sepia(91%) saturate(353%) hue-rotate(86deg) brightness(98%) contrast(94%);
}
