
 <div class=" w-72  h-full bg-[#385a28] transition-all duration-500 lg:z-50 sm:z-40 relative"  
    [style.width]="IsDashboardOpen?'5rem':'18rem'"
    > 
    <ul class="space-y-6">
        <li>
            <button (click)="OpenDashboard()" class="flex p-4 w-full items-center rounded-sm text-white hover:text-[#385a28] hover:bg-white transition">                
                <span class="flex items-center justify-center w-14 h-14">                   
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M3 6h18c0.553 0 1-.447 1-1s-.447-1-1-1H3C2.447 4 2 4.447 2 5s.447 1 1 1zm18 5H3c-0.553 0-1 .447-1 1s.447 1 1 1h18c0.553 0 1-.447 1-1s-.447-1-1-1zm0 7H3c-0.553 0-1 .447-1 1s.447 1 1 1h18c0.553 0 1-.447 1-1s-.447-1-1-1z"></path>
                    </svg>    
                </span>
            </button>        
        </li>
        <li>
            <a routerLink="/dashboard" class="flex items-center  rounded-sm hover:text-[#385a28] p-4  hover:bg-white transition"
            [ngClass]="activeItem === 'dashboard' ? 'bg-white text-[#3c622b]' : 'text-white'"
            (click)="setActive('dashboard')"
            >
                <span class="flex items-center justify-center w-14 h-14">
                    <!-- Dashboard SVG -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M3 13h8V3H3v10zm10 8h8V10h-8v11zM3 21h8v-6H3v6zm10-10h8V3h-8v8z"></path>
                    </svg>
                </span>
                <span class="text-lg font-medium whitespace-nowrap" [style.display]="IsDashboardOpen?'none':'inline'">Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/candles" class="flex items-center  rounded-sm hover:text-[#385a28] p-4  hover:bg-white transition"
            [ngClass]="activeItem === 'Candles' ? 'bg-white text-[#3c622b]' : 'text-white'"
                (click)="setActive('Candles')"
            >
                <span class="flex items-center justify-center w-14 h-14">
                    <!-- Dashboard SVG -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 2c-.553 0-1 .447-1 1 0 .552.447 1 1 1s1-.448 1-1c0-.553-.447-1-1-1zm-2 8v10c0 1.103.897 2 2 2s2-.897 2-2V10c0-1.103-.897-2-2-2s-2 .897-2 2zm3.268-4.321c.059.154.1.318.1.492C13.368 7.257 13.055 8 12 8s-1.368-.743-1.368-1.829c0-.173.041-.338.1-.492C10.917 5.394 10.653 5 10.188 5 9.433 5 9 6.1 9 6.885c0 .995.692 1.843 1.552 2.232V20c0 1.654 1.346 3 3 3s3-1.346 3-3V9.117c.86-.389 1.552-1.237 1.552-2.232C15 6.1 14.567 5 13.812 5c-.465 0-.729.394-.544.679zM12 4c.553 0 1-.447 1-1 0-.553-.447-1-1-1-.553 0-1 .447-1 1 0 .553.447 1 1 1z"></path>
                    </svg>                    
                </span>
                <span class="text-lg font-medium whitespace-nowrap" [style.display]="IsDashboardOpen?'none':'inline'">Candles</span>
            </a>
        </li>

       <li>
        <a
        routerLink="/dashboard/categories"
        class="flex items-center rounded-sm hover:text-[#385a28] p-4 hover:bg-white transition"
        [ngClass]="activeItem === 'Categories' ? 'bg-white text-[#3c622b]' : 'text-white'"
        (click)="setActive('Categories')"
        >
            <span class="flex items-center justify-center w-14 h-14">
            <!-- Categories SVG -->
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-8 h-8"
                viewBox="0 0 24 24"
                fill="currentColor"
            >
                <path
                d="M10 3H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM9 9H5V5h4v4zm11-6h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 6h-4V5h4v4zm-9 4H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1zm-1 6H5v-4h4v4zm8-6h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1zm-1 6h-4v-4h4v4z"
                />
            </svg>
            </span>
            <span
            class="text-lg font-medium whitespace-nowrap"
            [style.display]="IsDashboardOpen ? 'none' : 'inline'"
            >
            Categories
            </span>
        </a>
    </li>
        
       
        <li>
            <a routerLink="/dashboard/message" class="flex items-center  hover:text-[#385a28] rounded-sm p-4 hover:bg-white transition"
            [ngClass]="activeItem === 'Message' ? 'bg-white text-[#3c622b]' : 'text-white'"
            [style.color]="activeItem === 'Message' ? '#385a28' : ''"
            (click)="setActive('Message')">
              <span class="flex items-center justify-center w-14 h-14">
                <!-- Message SVG -->
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M20 2H4c-1.104 0-2 .896-2 2v16c0 1.104.896 2 2 2h16c1.104 0 2-.896 2-2V4c0-1.104-.896-2-2-2zM4 4h16v12H4V4zm2 14h12v2H6v-2z"></path>
                </svg>
              </span>
              <span class="text-lg font-medium whitespace-nowrap" [style.display]="IsDashboardOpen ? 'none' : 'inline'">Message</span>
            </a>
          </li>

        
    </ul>
</div>


