<div *ngIf="message || imageUrl" class="relative mt-9 w-full overflow-hidden">
  <!-- Image Container -->
  <div *ngIf="imageUrl" class="w-full">
    <img
      [src]="imageUrl"
      alt="Message Image"
      class="w-full h-auto object-cover"
    />
  </div>

  <!-- Text Container -->
  <div *ngIf="message" class="absolute inset-0 flex items-center justify-center ">
    <div class="text-center text-white p-4 w-full">
      <div class="scroll-animation text-4xl font-bold" role="alert">
        {{ message }}
      </div>
    </div>
  </div>
</div>