

<app-message-display></app-message-display>

<main 
  class="flex flex-col rounded-none mt-5" 
  role="main" 
  aria-labelledby="heroTitle">
  <section
    class="relative flex items-start justify-center 
           w-full object-cover"
  >
    <!-- Background Image -->
    <div class="">
      <img
        src="images/hero.svg"
        alt="Decorative candle display showcasing our premium collection"
        class="w-full object-cover"
        role="presentation"
        loading="lazy"
      />
    </div>
  </section>
</main>

<app-categories></app-categories>

<app-products></app-products>

<app-todayoffers></app-todayoffers>

<app-bestseller></app-bestseller>





