<section
      class="hero-section conta flex relative flex-col items-start pt-8 pr-20 pb-16 pl-10 mt-16 w-full min-h-[659px] max-md:px-5 max-md:mt-10 max-md:max-w-full font-poppins"
      aria-label="Hero section"
    >
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/bffc5287d9f74c5dbbff21d4720b833c/1285b0313213093d25d5542fea236539a7651537e0c68294a65ac65dd097d1e8?apiKey=bffc5287d9f74c5dbbff21d4720b833c&"
        class="object-cover absolute inset-0 size-full"
        alt="Decorative background image"
      />
      <h2 class="relative text-9xl text-lime-600 max-md:max-w-full max-md:text-4xl">
        Candles
      </h2>
      <button
        class="relative  self-stretch  mt-96 ml-20 text-4xl text-white bg-lime-600 min-h-[76px] rounded-[76px] max-md:px-5 max-md:mt-10 max-md:ml-2.5 max-md:text-4xl hover:bg-lime-700 focus:outline-none focus:ring-2 focus:ring-lime-600 focus:ring-offset-2 max-w-[280px]"  
        aria-label="Shop now"
        >
        Shop Now
        </button>

</section>

