<main 
  class="flex flex-col rounded-none mt-5" 
  role="main" 
  aria-labelledby="heroTitle">
  <section
    class="relative flex items-start justify-center 
           w-full min-h-[659px] lg:min-h-[659px] md:min-h-[500px] sm:min-h-[400px]"
  >
    <!-- Background Image -->
    <div class="absolute inset-0 z-0">
      <img
        src="images/hero.svg"
        alt="Decorative candle display showcasing our premium collection"
        class="w-full object-cover"
        role="presentation"
        loading="lazy"
      />
    </div>
    <!-- Overlay Layer -->
    <div 
      class="absolute inset-0 z-10 flex flex-col justify-between items-start px-10 pt-3
             w-full h-full lg:px-20 md:px-10 sm:px-5 xs:px-3"
    >
      <!-- Title at the top -->
      <h1
        id="heroTitle"
        class="text-3xl text-lime-600   font-irish
               lg:text-9xl md:text-7xl sm:text-5xl xs:text-3xl">
        Candles
      </h1>  
    </div>
  </section>
</main>
