<div class="mt-[99px]">
  <h1 class="text-center text-gray-800 font-irish font-bold text-4xl mb-11">
    Best Seller
  </h1>

  <!-- Swiper Container -->
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="20"
    [pagination]="pagination"
    [breakpoints]="breakpoints"
    class="mySwiper"
  >
    <!-- Swiper Slides -->
    <ng-template swiperSlide *ngFor="let product of products">
      <a
        class="flex flex-col items-center justify-center bg-white text-gray-800 p-5 rounded-xl shadow-md group hover:shadow-xl hover:scale-105 transform transition-transform duration-500"
        [routerLink]="['/details', product.id]">
        
        <!-- Product Image -->
        <img
          class="w-full h-48 object-cover rounded-lg transform transition-transform duration-500 group-hover:scale-110"
          [src]="product.imageUrl"
          [alt]="product.name" />

        <!-- Product Information -->
        <div class="text-center mt-4">
          <!-- Category Name -->
          <h2 class="text-md font-medium text-gray-700 uppercase tracking-wide">
            {{ product.categoryName }}
          </h2>

          <!-- Product Name -->
          <h3 class="text-lg font-semibold text-gray-900 mt-2 group-hover:text-green-600 transition-colors duration-300">
            {{ product.name }}
          </h3>

          <!-- Scent Description -->
          <p class="text-sm text-gray-600 mt-1">
            {{ product.scent }}
          </p>
        </div>

        <!-- Discount Badge -->
        <div
        *ngIf="product.isDailyOffer && product.discountPercentage > 0 
               && product.discountPercentage !== null && product.lowestPrice !== 0"
        class="absolute top-4 left-4 bg-gradient-to-r from-red-500 to-orange-500 text-white text-xs font-semibold px-3 py-1 rounded-full shadow-md animate-bounce">
        {{ calculateDiscountPercentage(product.lowestPrice, product.lowestPriceAfterDiscount) }}% OFF
      </div>

        <!-- Prices -->
        <div class="mt-3">
          <div *ngIf="product.lowestPrice === product.highestPrice" class="flex items-center">
            <p class="text-lg font-semibold text-green-500">
              {{ product.lowestPriceAfterDiscount | currency }}
            </p>
            <p
              *ngIf="product.lowestPrice !== product.lowestPriceAfterDiscount"
              class="text-base font-medium text-gray-500 line-through ml-2">
              {{ product.lowestPrice | currency }}
            </p>
          </div>
          <div *ngIf="product.lowestPrice !== product.highestPrice" class="flex flex-col items-center">
            <div class="flex items-center">
              <p class="text-lg font-semibold text-green-500">
                {{ product.lowestPriceAfterDiscount | currency }}
              </p>
              <p class="text-lg font-semibold text-green-500 ml-2">
                {{ product.highestPriceAfterDiscount | currency }}
              </p>
            </div>
            <div class="flex items-center mt-1">
              <p *ngIf="product.lowestPrice !== product.lowestPriceAfterDiscount"
                class="text-sm font-medium text-gray-500 line-through">
                {{ product.lowestPrice | currency }}
              </p>
              <p *ngIf="product.highestPrice !== product.highestPriceAfterDiscount"
                class="text-sm font-medium text-gray-500 line-through ml-2">
                {{ product.highestPrice | currency }}
              </p>
            </div>
          </div>
        </div>
        
        <p *ngIf="product.isBestSeller" class="text-sm font-semibold text-white bg-green-600 px-3 py-1 rounded-full mt-3">
          Best Seller!
        </p>
      </a>
    </ng-template>
  </swiper>
</div>