<footer
      class="flex flex-col items-start px-20 py-9 mt-32 w-full text-white bg-[#385a28] max-md:px-5 max-md:mt-10 max-md:max-w-full font-poppins"
      role="contentinfo"
    >
      <div class="flex flex-wrap gap-5 justify-between w-full max-md:max-w-full">
        <div class="flex flex-col items-center">
          <div class="flex flex-col max-w-full  w-[189px]">
            <h2 class="text-3xl">Candles</h2>
            <p class="mt-6 text-xl font-medium">
              We help you find your dream plant
            </p>
          </div>
          <div class="flex gap-6 items-center mt-6">
            <a
              href="#"
              class="focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2"
              aria-label="Visit our Facebook page"
            >
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/bffc5287d9f74c5dbbff21d4720b833c/eee3f7fcba84e3fec81c4f2ebcfd045eeb9b40d26f5bb7e04a468f76c1c56f03?apiKey=bffc5287d9f74c5dbbff21d4720b833c&"
                class="object-contain shrink-0 self-stretch my-auto w-12 aspect-square"
                alt=""
              />
            </a>
            <a
              href="#"
              class="focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2"
              aria-label="Visit our Twitter page"
            >
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/bffc5287d9f74c5dbbff21d4720b833c/c86403890c9e78427528b14d6d9682260a22fe98458fa5149bcb1881af1bb949?apiKey=bffc5287d9f74c5dbbff21d4720b833c&"
                class="object-contain shrink-0 self-stretch my-auto w-12 aspect-square"
                alt=""
              />
            </a>
            <a
              href="#"
              class="focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2"
              aria-label="Visit our Instagram page"
            >
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/bffc5287d9f74c5dbbff21d4720b833c/5ecb88a6ccbdd77ce3109ef6228b64768714775f01e66885ce3587ef38713e45?apiKey=bffc5287d9f74c5dbbff21d4720b833c&"
                class="object-contain shrink-0 self-stretch my-auto w-12 aspect-square"
                alt=""
              />
            </a>
          </div>
        </div>
        <nav
          class="flex gap-10 items-start self-start text-lg "
          role="navigation"
          aria-label="Footer navigation"
        >
          <div class="flex flex-col whitespace-nowrap">
            <h3 class="text-xl font-bold ">Information</h3>
            <a
              href="#about"
              class="mt-6 hover:underline focus:outline-none focus:ring-2 focus:ring-white"
            >
              About
            </a>
            <a
              href="#product"
              class="mt-6 hover:underline focus:outline-none focus:ring-2 focus:ring-white"
            >
              Product
            </a>
            <a
              href="#blog"
              class="mt-6 hover:underline focus:outline-none focus:ring-2 focus:ring-white"
            >
              Blog
            </a>
          </div>
          <div class="flex flex-col">
            <h3 class="text-xl font-bold ">Company</h3>
            <a
              href="#community"
              class="mt-6 hover:underline focus:outline-none focus:ring-2 focus:ring-white"
            >
              Community
            </a>
            <a
              href="#career"
              class="mt-6 hover:underline focus:outline-none focus:ring-2 focus:ring-white"
            >
              Career
            </a>
            <a
              href="#story"
              class="mt-6 hover:underline focus:outline-none focus:ring-2 focus:ring-white"
            >
              Our story
            </a>
          </div>
          <div class="flex flex-col">
            <h3 class="text-xl font-bold ">Contact</h3>
            <a
              href="#getting-started"
              class="mt-6 hover:underline focus:outline-none focus:ring-2 focus:ring-white"
            >
              Getting Started
            </a>
            <a
              href="#pricing"
              class="mt-6 hover:underline focus:outline-none focus:ring-2 focus:ring-white"
            >
              Pricing
            </a>
            <a
              href="#resources"
              class="mt-6 hover:underline focus:outline-none focus:ring-2 focus:ring-white"
            >
              Resources
            </a>
          </div>
        </nav>
      </div>
      <p class="mt-20 text-lg font-medium  max-md:mt-10">
        2024 all Right Reserved Term of use Candles
      </p>
    </footer>
  `,